body {
    background-color: white;
    background-repeat: no-repeat;
    background-position-y: 285px;
    background-image: url("https://image.freepik.com/free-vector/lisbon-city-icon-illustration_130220-6.jpg");
  }
  
  h1 {
    padding-top: 30px;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    max-width: 300px;
  }
  
  .cityweather {
    font-size: 20px;
    margin-top: 10px;
    max-width: 300px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 10px;
    background-color: rgb(111, 174, 132);
    border-radius: 10px;
    max-width: 100px;
    color: #e8eae6;
  }
  
  .temp {
    font-family: "Inter", sans-serif;
    max-width: 100px;
    font-size: 13px;
  }
  
  .celsius {
    font-family: "Inter", sans-serif;
    max-width: 100px;
    font-size: 13px;
  }
  
  .forecast {
    font-weight: bold;
    background-color: rgb(111, 174, 132);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    border-radius: 30px;
  }
  
  .fa-sun {
    margin-top: 12px;
    font-size: 45px;
    color: white;
  }
  
  .fa-cloud {
    margin-top: 12px;
    font-size: 45px;
    color: white;
  }
  
  .fa-cloud-rain {
    margin-top: 12px;
    font-size: 45px;
    color: white;
  }
  
  .weektemperature {
    margin-top: 5px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }
  
  .weekday {
    color: #e8eae6;
    margin-left: 15px;
  }
  
  .emoji {
    max-width: 70px;
    padding-right: 1px;
    font-size: 45px;
  }
  
  p {
    font-weight: bold;
    font-size: 20px;
  }
  
  .live-temperature {
    display: inline-block;
  }
  
  .celsius {
    font-weight: bold;
    display: inline-block;
  }
  